@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
}

.wrapper {
  display: grid;
  grid-template-areas:
    "header"
    "section"
    "footer";
  font-family: 'Poppins', sans-serif;
  max-height: 100vh;
  background-color: #1F252E;

}


.main-head {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #00E8F8;
  color: black;
}

.left-head {
  display: flex;
  align-items: center;
}

.card {
  margin: 20px;
  width: 100px;
  height: 100px;
}

.card img {
  height: 100px;
  border-radius: 50%;
}

.header-text {
  font-size: 32px;
  margin: 20px;
}

.menu {
  display: flex;
  align-items: center;
  margin: 20px;
  gap: 5em;
}

a {
  color: black;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}

.main-section {
  grid-area: section;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #1F252E;
}

.left-section {
  align-self: center;
  margin: 100px;
}

.main-section h1 {
  font-size: 2.5rem;
  font-weight: 600;
  color: #fff;
}

.main-section p {
  margin-top: 1rem;
  font-size: .98rem;
  color: #fff;
}

.social {
  display: flex;
  flex-wrap: wrap;
  gap: 1.4rem;
  margin-top: 1.7rem;
}

.social a {
  color: #00E8F8;
  font-size: 1rem;
  border: 1.6px solid #00E8F8;
  border-radius: 50%;
  padding: .35rem;
  text-align: center;
  width: 26px;
}

.social a:hover {
  color: #1F252E;
  background-color: #00E8F8;
  box-shadow: 0 0 20px #00E8F8;
  transition: all .3s ease-in-out;
}

.main-section h1 span:nth-child(1) {
  font-size: 1.5rem;
}

.main-section h1 span:nth-child(2) {
  color: #00E8F8;
}

.images {
  box-shadow: 0px 16px 4px -10px #00E8F8;
  width: 528px;
  background-size: cover;
  margin: 25px 50px;
}

@keyframes check {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media only screen and (max-width:480px) {
  section {
    margin: 1rem 1.5rem;
  }

}

.main-footer {
  grid-area: footer;
  display: flex;
  align-items: center;
  justify-content: center;
  /* Aggiunto per centrare orizzontalmente tutto il contenuto */
  background-color: #00E8F8;
  color: black;
  flex-wrap: wrap;
  /* Per far andare a capo gli elementi se non c'è abbastanza spazio */
}

.footer-text {
  text-align: center;
  font-size: 15px;
}